@import url('https://fonts.googleapis.com/css?family=Signika');
body{
  background-color: #191414;
  
}
.button{
  margin-top: 3em;
-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Signika', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #1DB954;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background: #188f42;
  text-decoration: none;
}
h1, h2, p{
font-family: 'Signika', sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.logo {
  margin-top: 22.5px;
  margin-left: 22.5px;
  width: 150px;
}
#info-pic{
  margin-top: 5em;
  display: none;
  cursor: pointer;
}
#nexttrack{
display: none;
}
#info {
display: none;
width: 300px;
height: 19px;
margin-top: 22%;
text-align: center;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
margin-left: 50%;
-webkit-transform: translate(-50%, -0%);
	-moz-transform: translate(-50%, -0%);
	-ms-transform: translate(-50%, -0%);
	-o-transform: translate(-50%, -0%);
	transform: translate(-50%, -0%);

}
.nexttrack{
display: inline-block;
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
	border-radius: 0px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.9);
  z-index: -2;
  min-width: 300px;
  min-height: 300px;
}
.nexttrack:empty
{
    display: inline-block;
	top: 35%;
	left: 52%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.crl{
color: #1DB954;
display: none;
  position: fixed;
  top: 70%;
  left: 48%;
  margin-top: -50px;
  margin-left: -100px;
}
img.ri, #link
{
  display: inline-block;
	position: absolute;
	top: 10%;
	left: 10%;
	border-radius: 0px;
	box-shadow: 3px 3px 6px rgba(0,0,0,0.9);
  z-index: 1;
  min-width: 300px;
  min-height: 300px;
  max-height: 300px;
  max-width: 300px;
  width: 300px;
  height: 300px;
}
img.ri, #link:empty
{
    display: inline-block;
	top: 25%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
@media screen and (orientation: portrait) {
  img.ri, #link { max-width: 90%; }
}

@media screen and (orientation: landscape) {
  img.ri, #link { max-height: 90%; }
}
.slider {
  position: absolute;
    -webkit-appearance: none;
    width: 20%;
    height: 2px;
    border-radius: 5px;   
    background: #fff;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  top: 61%;	
  left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #1DB954;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1DB954;
    cursor: pointer;
}
