@import url('https://fonts.googleapis.com/css?family=Signika');


html, body{height:100%;} 
body{
margin: 0;
max-height: 100vh;
max-width: 100%;
}
.button{
  margin-top: 3em;
-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Signika', sans-serif;
  color: #F9FDFF;
  font-size: 20px;
  background: #2FC5FC;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background: #2BB4E6;
  text-decoration: none;
}

.logo {
  margin-top: 22.5px;
  margin-left: 22.5px;
  width: 150px;
}
p #songName #artists{
margin-bottom: 2px !important;
height: 15px !important;
margin-block-start: 2px !important;
margin-block-end: 2px !important;
cursor: pointer;
}
ul {
padding-inline-start: 0px;
}
.info {
display: none;
width: 190px;
height: 25px;
margin-top: 15px;
padding-top: 15px;
text-align: center;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
margin-left: auto;
margin-right: auto;
}

.prev{
cursor: pointer;
}
.prev:active{
color: #C34854;
}
.previus{
cursor: pointer;
}
.previus:active{
color: #C34854;
}
.next{
cursor: pointer;
}
.next:active{
color: #C34854;
}
.play{
display: none;
cursor: pointer;
}
.play:active{
color: #C34854;
}
.pause{
display: none;
cursor: pointer;
}
.pause:active{
color: #C34854;
}
.repeat-track{
display: none;
cursor: pointer;
color:#ADB5BD;
}
.repeat-track:active{
color: #C34854;
}
.branch{
display: none;
cursor: pointer;
}
.branch:active{
color: #C34854;
}
.code:active{
color:#C34854;
}
.code{
display: none;
cursor: pointer;
}
.mute{
display: none;
}
.volume-low{
display: none;
}
.volume-medium{
display: none;
}
.volume-high{
display: none;
}
.volume-slider {
    min-width: 100% !important;
    white-space: nowrap;
}
.volume-slider div { 
  display: inline-block; 
  width: 100%;
  margin-bottom: 1px;
}
.crl{
  color: #2FC5FC;
display: none;
  position: fixed;
  top: 74%;
  left: 50.6%;
  margin-top: -50px;
  margin-left: -100px;
}
.ui-slider{
  margin-top: 16px;
  height: 2px !important;
  }
.ui-slider .ui-slider-handle{
  background: #2BB4E6 !important;
  border-radius: 100px;
  top: -0.65em !important;
  border: 0px !important;
    box-shadow: -4px 2px 2px -2px rgba(84,84,84,0.175);
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
     -khtml-user-select: none !important;
       -moz-user-select: none !important;
        -ms-user-select: none !important;
            user-select: none !important; 
} 
.ui-slider-handle:active { box-shadow: 0 0 0 10px rgba(43, 180, 230,.26); }

#noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.select {
  -webkit-touch-callout: text;
    -webkit-user-select:  text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.container{
        position: relative; 
        width: 300px;
        height: 300px;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        background: rgba(0, 0, 0, .2);
        transition: 0.5s;
        }
        .container img{
            position: absolute;
            width: 100%;
            height: 100%;
            transition: 0.5s;
        }
        .container:hover img:nth-child(1){
            transform: translate(100px, 0px) scale(.7);
            opacity: .4;
        }
        .container:hover img:nth-child(2){
            transform: translate(50px, 0px) scale(.9);
            opacity: .6;
            scale: .9;
        }
        .container:hover img:nth-child(3){
            transform: translate(0px, 0px);
            opacity: 1;
        }
